* {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    border: border-box;
}

.navbar {
    height: 90px;
    width: 100%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C1121F;
    color: #FDF0D5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 7;

}

.navname {
    height: 70px;
    width: 150px;
    color: #FDF0D5;
    display: flex;
    align-items: center;
    font-size: 1.0rem;

}

.border {
    border-bottom: 2px solid transparent;
    transition: all 1s ease-in-out 0s;
}

.border:hover {
    border-bottom: 2px solid #FDF0D5;
}

.anchor {
    text-decoration: none;
    color: #FDF0D5;
    font-size: larger;
}

.list {
    list-style-type: none;
}

.nav-objects {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25em;
}

.nav-elements {
    width: 100%;
}

body {
    padding-top: 70px;
}

.mainbody {
    width: 100%;
    height: 500px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainbox {
    height: 500px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 40px 0 rgba(0, 0, 0, 0.19);
}

.maininfo {
    height: 500px;
    width: 50%;

}

.maingreetings {
    color: #003049;
    font-size: 7.5rem;
    margin-left: 30px;
    margin-bottom: 20px;
}

.mainame {
    color: #003049;
    font-size: 2.15rem;
    margin-left: 30px;
}
.aboutme{
    color: #003049;
    font-size: 1.20rem;
    margin-left: 30px;
    text-align: left;
}
.mainemail{
    color: #003049;
    font-size: 1.5rem;
    position:relative;
    bottom: 5px;
    margin-top: 65px;
    text-align: left;
    margin-left: 30px;
}
.maindesign {
    background-image: url(IMG_20240409_121957.png);
    height: 500px;
    width: 50%;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainphoto{
    background-image: url(IMG_20240409_122709.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo{
    color: #FDF0D5;
}
.info1{
    font-size: 2.5rem;
}
.timeline{
    height: 800px;
    width: 100%;
    margin-top: 70px;
    text-align: center;
}
.education{
    font-size: 5rem;
    color: #003049;
}
.container{
    padding: 10px 20px;
    position: relative;
    width: 40%;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
    animation: movedown 1s linear forwards;
    opacity:0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay:0s
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}


.textbox{
    padding:  20px 30px;
    background: #FDF0D5;
    color: #003049;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left:136px;
}
.right-container{
    left: 50%;

}
.round{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    right: -10px;
    top:32px;
    z-index: 10;
    background-color:#003049;
}

.right-container .round{
    left: -10px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 500px;
    border-top: 20px;
    border-bottom: 2px;
    background-color:#003049;
    top:850px;
    left: 50%;
    margin-left: 30px;
    z-index: 0;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height:  0;
    }
    100%{
        height: 100%;
    }
}

